.event-card {
  flex-basis: 40%;
  margin: 2.5%;
}

.event-card-cover-image {
  background-size: cover;
}

.events-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.todo-panel-completed {
}

@media (max-width: 1070px) {
  .event-card {
    flex-basis: 90%;
  }
}


